.head-title {
	font-size: 3em;
	font-family: InknutAntiqua-Bold;
	color: #fff;
	margin: 100px 0px 0px 10%;
	z-index: 1;
}

.head-box-1 {
	height: ; 
	width: ;
	position: absolute;
	margin-top: -55px;
  width: 50%;

  border-bottom: solid 330px #243040;

  border-right: solid 230px transparent;
  border-top: solid 100px transparent;	

}

.head-box-2 {
	background-color: #243040;
	height: 450px; 
	width: 50%;
	position: absolute;
	margin-top: 200px;
}

.head-box-3 {
	background-color: #243040;
	height: ; 
	width: ;
	position: absolute;
	margin-top: ;
}

